/* el-messiri-regular - latin_cyrillic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/el-messiri-v15-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/el-messiri-v15-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-v15-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/el-messiri-v15-latin_cyrillic-regular.woff") format("woff"), url("../fonts/el-messiri-v15-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/el-messiri-v15-latin_cyrillic-regular.svg#ElMessiri") format("svg");
  /* Legacy iOS */
}
/* el-messiri-600 - latin_cyrillic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/el-messiri-v15-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/el-messiri-v15-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-v15-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/el-messiri-v15-latin_cyrillic-600.woff") format("woff"), url("../fonts/el-messiri-v15-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/el-messiri-v15-latin_cyrillic-600.svg#ElMessiri") format("svg");
  /* Legacy iOS */
}
/* el-messiri-500 - latin_cyrillic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/el-messiri-v15-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/el-messiri-v15-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-v15-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/el-messiri-v15-latin_cyrillic-500.woff") format("woff"), url("../fonts/el-messiri-v15-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/el-messiri-v15-latin_cyrillic-500.svg#ElMessiri") format("svg");
  /* Legacy iOS */
}
/* el-messiri-700 - latin_cyrillic */
@font-face {
  font-family: "El Messiri";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/el-messiri-v15-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/el-messiri-v15-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/el-messiri-v15-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/el-messiri-v15-latin_cyrillic-700.woff") format("woff"), url("../fonts/el-messiri-v15-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/el-messiri-v15-latin_cyrillic-700.svg#ElMessiri") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-100 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-100.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-200 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-200.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-300.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-regular.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-500.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-600.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-700.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-800.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
/* montserrat-alternates-900 - latin_cyrillic */
@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.woff") format("woff"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/montserrat-alternates-v17-latin_cyrillic-900.svg#MontserratAlternates") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

.project {
  background: #000;
  width: 100%;
  height: 0 auto;
}

.project__container {
  max-width: 1620px;
  margin: 0 auto;
}

.project__title {
  color: #fff;
  font-family: "Montserrat Alternates";
}

/*# sourceMappingURL=styles.css.map */
